<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.sharingparking">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- 获取蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE"/>
    <!--GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_GPS"/>
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:name="com.mob.MobApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="sOBVOzHncpsGS01Pdb7NnSP2XbshsHdi"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2"/>
            </intent-filter>
        </service>

        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity">

        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/Translucent">
        </activity>
        <activity android:name=".activity.BaseWebActivity">
        </activity>
        <activity android:name=".activity.WalletActivity">
        </activity>
        <activity android:name=".activity.OrderActivity">
        </activity>
        <activity android:name=".activity.ParkingActivity">
        </activity>
        <activity android:name=".activity.SettingActivity">
        </activity>
        <activity android:name=".activity.BenefitActivity">
        </activity>
        <activity android:name=".activity.RegisterParkingByUserActivity">
        </activity>
        <activity android:name=".activity.RentMessageActivity">
        </activity>
        <activity android:name=".activity.ControlParkingActivity">
        </activity>
        <activity android:name=".activity.PublishActivity">
        </activity>
        <activity android:name=".activity.PublishedActivity">
        </activity>
        <activity android:name=".activity.ControlParkingByNetActivity">
        </activity>
        <activity android:name=".activity.RegisterParkingActivity">
        </activity>
        <!--拦截配对框，实行自动配对
        <receiver android:name=".utils.BluetoothReceiver" >
            <intent-filter android:priority="1000">
                <action android:name="android.bluetooth.device.action.PAIRING_REQUEST"/>
                <action android:name="android.bluetooth.device.action.FOUND" />
            </intent-filter>
        </receiver>-->

        <!-- 获取验证码 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 通过AndroidManifest配置AppKey和AppSecret，如果你选择通过代码配置，则不需要配置以下meta-data -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="22814481647c1"/>
        <meta-data
            android:name="Mob-AppSecret"
            android:value="2290bf205f0ffe2aecaa45e770a286d9"/>

        <activity android:name=".baidumap.MapActivity">
        </activity>
        <activity android:name=".baidumap.BNGuideActivity">
        </activity>
    </application>

</manifest>